
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    margin: 0%;
    padding: 0%;
}

.sec-1{
    display: flex;
    background-image: url(../img/pix1.png);
    background-size: cover;
   background-repeat: no-repeat;
   align-items: flex-end;
   height: 50vw;
   width: 100%;
}

.site-title{
    margin-top: 10%;
    font-size: 35px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
}

.par{
    margin-bottom: 25%;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;  
    width: 400px;
}

.site-title{
    font-family: 'Poppins', sans-serif;
}

.sec-2{
    margin-top: 5%;
}

.sec-3{
    margin-top: 10%;
}

.sec-span{
    text-decoration: underline;
}

.sec-2 .col-md-4{
    padding: 5%;
    
    
}
.sec-3{
    margin-left: 8%;

}


  /* formmessages */
  .form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .success {background-color: rgba(38, 191, 68, 0.8);}
  .error {background-color: rgba(209, 46, 46, 0.8);}

@media screen and (max-width: 768px){
    .sec-2 .img-fluid{
        width: 500px;
    }
}

@media screen and (max-width: 320px){
    .sec-2 .col-md-6{
        margin-left: 10%;
    }
}
