/* The about page style */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
header {
  padding: 0 50px;
}

/* Where nav style started  */
.navbar {
  justify-content: space-between;
  background: rgba(26, 25, 25, 0.5) !important;
  font-size: 18px;
}
.navbar-collapse {
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
}
.nav-item {
  margin: auto 5px;
}
.nav-item a {
  border-radius: 2px soilid transparent;
}
.nav-item a:hover {
  border-bottom: 2px solid #ffffff;
}
.navbar-toggler {
  margin-right: 20px;
  padding-right: 10px;
  height: 30px !important;
  width: 30px !important;
  display: flex;
  flex-direction: column;
  outline: none !important;
}
.navbar-toggler:hover {
  border-color: none;
}
.navbar-toggler span {
  margin: 2px 0;
  height: 3px !important;
  background-color: #ffffff !important;
}
.first_Nav {
  width: 25px;
}
.second_Nav {
  width: 23px;
}
.third_Nav {
  width: 20px;
}

.active {
  font-weight: 600;
}
.logo_text {
  font-family: "Ruslan Display", cursive;
  font-size: 36px;
  color: #ffffff !important;
}
.nav-link {
  color: #ffffff !important;
}
.book_online_btn {
  background-color: transparent;
  margin: auto 3px;
  border-radius: 5px;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  padding: 10px 35px;
}
/* End of Navigation stype */

/* Landing Page Styling */
.container {
  font-family: "Poppins", sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100%;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.landingpage {
  background: url(../img/homepage-section1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}
.landingpage .content {
  width: 33%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.landingpage p {
  width: 80%;
  color: #fefefe;
}
.landingpage .btn {
  background-color: #262f56;
  color: #fefefe;
  transition: 0.3s;
  align-self: flex-start;
}
.landingpage .btn:hover {
  background-color: #fefefe;
  color: #262f56;
}
.sectionii {
  background-color: #424141;
  color: #fefefe;
}

.sectionii .row {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
}
.sectionii .image,
.sectionii .content {
  width: 50%;
  padding: 4% 4% 4% 0;
}
.sectionii img {
  width: 100%;
}
.sectionii .content {
  padding-left: 4%;
  border-left: 1.5px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionii .btn {
  color: #fefefe;
  background-color: #262f56;
  align-self: flex-start;
}

.sectioniii .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;

  width: 100%;
}
.sectioniii .row img {
  width: 32%;
  margin: 1rem 0;
}
.sectioniii .testimonial {
  color: #424141;
  width: 66%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem 0;
}
.sectioniii .testimonial-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectioniii .testimonial .title {
  margin-bottom: 5%;
}
.sectioniii .testimonial-content .texts {
  border: 1px solid #424141;
  width: 90%;
  margin-bottom: 0;
  padding: 1.2rem 1rem;
  font-size: 18px;
}
.sectioniii .testimonial-content .btn {
  align-self: center;
  color: #424141;
}

.sectioniv {
  background-color: #e5e5e5;
}
.sectioniv .title {
  text-align: center;
  color: #424141;
  margin-bottom: 4rem;
}
.sectioniv .images {
  display: flex;
  justify-content: space-between;
}
.sectioniv .image,
.sectioniv .images {
  width: 100%;
}
.sectioniv .info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
}
.sectioniv .content {
  width: 32%;
  margin: 1.5rem 0;
}
.sectioniv .info {
  background-color: #424141;
  padding: 0.5rem 1rem;
}
.sectioniv .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sectioniv .buttons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.sectioniv .position {
  margin-top: auto;
  margin-bottom: auto;
}
.sectionv .title {
  text-align: center;
  color: #424141;
}
.sectionv .content,
.sectionv .image {
  width: 100%;
}
.sectionv .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #424141;
}
.sectionv .item {
  width: 32%;
  margin: 2rem 0;
}
.sectionv .info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.sectionv .name {
  margin-top: auto;
  margin-bottom: auto;
}
.sectionv .price {
  display: flex;
}
.sectionv .amount {
  margin-bottom: auto;
  margin-top: auto;
}
.sectionv .amount span {
  font-size: 12px;
}
/* End of Landing Page */

/* Footer styling */
footer {
  margin-top: 50px;
  background: #000000;
}
.footer {
  padding-top: 30px;
  color: #ffffff;
}
.news_and_offers {
  font-size: 18px;
  text-align: center;
}
.news_letter {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.news_letter div {
  margin: 0 10px;
}
.news_letter input {
  padding: 5px 10px;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  outline: none;
}
.comp_socials {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
.salon_Address {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.working_header {
  font-weight: 600;
}

.footer_1 {
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer_1 p {
  padding-bottom: 3px;
  margin-bottom: 0;
}
.footer_genral_text {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-weight: 300;
}
.footer_logo {
  display: flex;
  align-items: center !important;
  justify-content: center;
  line-height: 39px;
}
.footer_logo p {
  text-align: center;
  font-size: 30px;
  font-family: "Ruslan Display";
  font-size: 36px;
}
.footer_details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.copyright {
  padding: 14px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (min-width: 800px) {
  nav {
    padding: 0 50px !important;
  }
  .news_and_offers {
    text-align: left;
  }
  .comp_socials {
    justify-content: flex-end;
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  /* SECTIONIII */
  .sectioniii {
    width: 100%;
  }
  .container {
    padding: 4rem 2rem;
    width: 100%;
  }
  .sectioniii .row {
    width: 100%;
  }
  .sectioniii .row img {
    width: 48%;
  }
  .sectioniii .testimonial {
    width: 100%;
  }

  .sectioniv .images {
    width: 100%;
  }

  .sectionv .content {
    width: 100%;
  }
  .sectionv .item {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
.landingpage .content {
  width: 100%;
}
  .sectionii .row{
    flex-direction: column-reverse;
  } 
  .sectionii .image, .sectionii .content {
    width: 100%;
  } 
  .sectionii .content {
    border: 0;
    text-align: justify;
    margin-bottom: 2rem;
  }
  .sectionii .title {
    text-align: center;
  }
  .sectionii .btn {
    align-self: center;
  }

  .sectioniii .row{
    flex-direction: column-reverse;
  }
  .sectioniii .row img {
    width: 100%;
  }
  .sectioniii .testimonial-content .texts {
    width: 100%;
  }
  .sectioniii .testimonial-content {
    justify-content: center;
  }

  .sectioniv .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sectioniv .content {
    width: 100%;
  }
  .sectionv .content{
    width: 100%;
  }
  .sectionv .item {
    width: 100%;
}
.book_online_btn{
  padding: 5px 15px;
}
}
